<ul class="nav pull-right">
    <li>
        <a href="?lang=en">
            <img src="/app/assets/img/flag/en.gif" alt="EN" />
        </a>
    </li>
</ul>

<ul class="nav pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Notre travail
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#{{ path('web_travail') }}">Clients</a></li>
            <li><a href="#{{ path('web_laboratoires') }}">Laboratoires</a></li>
        </ul>
    </li>
    <li><a href="#{{ path('web_onfait') }}">Que fait on ?</a></li>
    <li><a href="#{{ path('web_propos') }}">A propos</a></li>
    <li><a href="#{{ path('web_contactfr') }}">Contact</a></li>
</ul>