<ul class="nav pull-right">
    <li>
        <a href="{{ path('weblabs_langue',{'lang':'fr'}) }}">
            <img src="/app/assets/img/flag/fr.gif" alt="FR" />
        </a>
    </li>
</ul>

<ul class="nav pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Our work
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('weblabs_work') }}">Our work</a></li>
            <li><a href="{{ path('weblabs_labs') }}">Labs</a></li>
        </ul>
    </li>
    <li><a href="{{ path('weblabs_wedo') }}">What we do ?</a></li>
    <li><a href="{{ path('weblabs_about') }}">About us</a></li>
    <li><a href="{{ path('weblabs_contacten') }}">Contact</a></li>
</ul>

